In [1]:
# import Dependencies 
import pandas as pd
import numpy as np

In [68]:
# read in csv file
covid_df = pd.read_csv("covid_zip.csv", parse_dates=['Date'], dayfirst= True)
covid_df.head()

,FID,Date,Notes,Zip_76574,Zip_78605,Zip_78610,Zip_78612,Zip_78613,Zip_78615,Zip_78616,...,Zip_78749,Zip_78750,Zip_78751,Zip_78752,Zip_78753,Zip_78754,Zip_78756,Zip_78757,Zip_78758,Zip_78759
0,1,2020-03-26 21:59:59+00:00,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,3.0,2.0,3.0,1.0,2.0,5.0,4.0,5.0
1,2,2020-03-27 21:59:59+00:00,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,2.0,2.0,4.0,2.0,3.0,2.0,2.0,8.0,4.0,5.0
2,3,2020-03-28 21:59:59+00:00,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,2.0,3.0,4.0,2.0,3.0,2.0,2.0,8.0,5.0,6.0
3,4,2020-03-29 21:59:59+00:00,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,3.0,5.0,3.0,4.0,2.0,2.0,8.0,5.0,6.0
4,5,2020-03-30 21:59:59+00:00,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,2.0,3.0,5.0,3.0,4.0,1.0,2.0,7.0,5.0,6.0

In [69]:
# removing "ZIP_ from column name"
covid_df.columns = covid_df.columns.str.replace("Zip_", "")
covid_df.head()

,FID,Date,Notes,76574,78605,78610,78612,78613,78615,78616,...,78749,78750,78751,78752,78753,78754,78756,78757,78758,78759
0,1,2020-03-26 21:59:59+00:00,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,3.0,2.0,3.0,1.0,2.0,5.0,4.0,5.0
1,2,2020-03-27 21:59:59+00:00,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,2.0,2.0,4.0,2.0,3.0,2.0,2.0,8.0,4.0,5.0
2,3,2020-03-28 21:59:59+00:00,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,2.0,3.0,4.0,2.0,3.0,2.0,2.0,8.0,5.0,6.0
3,4,2020-03-29 21:59:59+00:00,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,3.0,5.0,3.0,4.0,2.0,2.0,8.0,5.0,6.0
4,5,2020-03-30 21:59:59+00:00,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,2.0,3.0,5.0,3.0,4.0,1.0,2.0,7.0,5.0,6.0

In [70]:
# drop notes column and FID columns
covid_df = covid_df.drop(columns=['FID', 'Notes'])
covid_df.head()

,Date,76574,78605,78610,78612,78613,78615,78616,78617,78620,...,78749,78750,78751,78752,78753,78754,78756,78757,78758,78759
0,2020-03-26 21:59:59+00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,2.0,2.0,3.0,2.0,3.0,1.0,2.0,5.0,4.0,5.0
1,2020-03-27 21:59:59+00:00,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,...,2.0,2.0,4.0,2.0,3.0,2.0,2.0,8.0,4.0,5.0
2,2020-03-28 21:59:59+00:00,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,...,2.0,3.0,4.0,2.0,3.0,2.0,2.0,8.0,5.0,6.0
3,2020-03-29 21:59:59+00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,3.0,5.0,3.0,4.0,2.0,2.0,8.0,5.0,6.0
4,2020-03-30 21:59:59+00:00,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,...,2.0,3.0,5.0,3.0,4.0,1.0,2.0,7.0,5.0,6.0

In [72]:
# Convert datetime to date
covid_df['Date'] = covid_df['Date'].dt.strftime('%m/%d/%Y')
covid_df.head()

,Date,76574,78605,78610,78612,78613,78615,78616,78617,78620,...,78749,78750,78751,78752,78753,78754,78756,78757,78758,78759
0,03/26/2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,2.0,2.0,3.0,2.0,3.0,1.0,2.0,5.0,4.0,5.0
1,03/27/2020,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,...,2.0,2.0,4.0,2.0,3.0,2.0,2.0,8.0,4.0,5.0
2,03/28/2020,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,...,2.0,3.0,4.0,2.0,3.0,2.0,2.0,8.0,5.0,6.0
3,03/29/2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,3.0,5.0,3.0,4.0,2.0,2.0,8.0,5.0,6.0
4,03/30/2020,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,...,2.0,3.0,5.0,3.0,4.0,1.0,2.0,7.0,5.0,6.0

In [54]:
# export to csv
covid_df.to_csv('covid_cases_zip.csv')